[Desktop Entry]
Name=Shrew Soft VPN Access Manager
Name[en_CA]=Shrew Soft VPN Access Manager
Name[de]=Shrew Soft VPN Zugangsverwaltung
Comment=Application to manage remote site configurations
Comment[en_CA]=Application to manage remote site configurations
Comment[de]=Anwendung zum Verwalten der VPN-Konfigurationen
Exec=ike-qt-core18.qikea
Icon=${SNAP}/meta/gui/ikea.png
Terminal=false
Type=Application
Categories=Network
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=vpn;remote;access;ras;company;network;ike;
